@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    height: 100vh;
}
.abas{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: blue;
    min-height: 20vh;
}
.task{
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
}
input{
    width: 70%;
    height: 30px;
    padding: 5px;
}
button{
    position: relative;
    height: 40px;
    width: 50px;
    margin-left: 20px;
    border: none;
}
.task1{
    background-color: rgba(245, 222, 179, 0.812);
    height: 50px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 7px;
    align-items: center;
    cursor: pointer;
}